/* .header-style-1 .header-nav {
    background: #fb3f6a!important;
  } */

.homebanner-holder {
    margin-bottom: 50px;
}

/* .scroll-tabs .more-info-tab .new-product-title {
    color: #fb3f6a!important;
}

a {
    color: #fb3f6a!important;
} */

.main-header .top-search-holder .search-area .search-button:after {
    color: #358b0a;
    content: "\f002";
    font-family: fontawesome;
    font-size: 20px;
    line-height: 9px;
    vertical-align: middle;
}

.main-header .top-search-holder .search-area .search-button {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 12px 16px 11px;
    text-align: center;
    background: #f6f6f6;
    border-left: 1px solid #E0E0E0;
}